.normalImage {
  position: relative;
  cursor: zoom-in;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.zoomOutCursor {
  cursor: zoom-out;
}

.zoomedImage {
  position: absolute;
  z-index: 10;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

/* Placement */

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left {
  top: 0;
  left: -110%;
}

.top-right {
  top: 0;
  left: 110%;
}

.bottom-left {
  bottom: 0;
  left: -110%;
}

.bottom-right {
  bottom: 0;
  left: 110%;
}
