.wrapper {
  display: inline-flex;
  border: 1px solid #607d8b;
  padding: 0;
  list-style: none;
  user-select: none;
}

.page,
.nav {
  padding: 8px 14px;
  cursor: pointer;
  border-right: 1px solid #607d8b;
}

.page:last-child,
.nav:last-child {
  border-right: none;
}

.active {
  background-color: #e9e9eb;
  font-weight: bold;
}

.disabled {
  cursor: default;
  color: #999;
}

.nav:hover,
.page:not(.disabled):hover {
  background-color: #f5f5f5;
}
