.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  flex: 1 300px;
  height: 300px;
  margin: 10px;
  background: #e53935;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
