.typingArea {
  padding: 20px 25px;
  margin: 20px auto;
  color: #445d6e;
  font-size: 18px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.3);
  white-space: pre-wrap;
  border-radius: 4px;
  line-height: 1.9em;
  width: 90%;
}

.blinkingCursor {
  width: 2px;
  height: 1em;
  background: #607d8b;
  display: inline-block;
  margin-left: 2px;
  animation: blink 0.9s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
