.accordion-item {
    cursor: pointer;
    padding: 6px 0;
    display: flex;
    align-items: center;
    gap: 6px;
    user-select: none;
  }
  
  .accordion-item:hover {
    background-color: #f5f5f5;
  }
  
  .icon {
    width: 16px;
    display: inline-block;
  }
  