.card {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  cursor: grab;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-delete {
  color: red;
  cursor: pointer;
  font-weight: bold;
}
