.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.modal-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  width: 100%;
  max-width: 500px;
  padding: 12px;
  box-shadow: 0 4px 10px #000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-close {
  cursor: pointer;
  background: gray;
  color: white;
  width: 28px;
  height: 28px;
  text-align: center;
  border-radius: 50%;
}
