#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.product-card {
  display: flex;
  width: 110px;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.product-img {
  width: 100px;
  height: 100px;
}


.product-container {
  display: flex;
  flex-wrap: wrap;
}


.pageNumber {
  cursor: pointer;
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
}

.pagination-container {
  /* display: flex; */
  padding: 20px;
}

.active-page {
  background-color: aqua;
}