.outer{
  margin: 10px 0px;
    width: 500px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.inner{
    height: 100%;
    background-color: green;
    padding: 1px;
    text-align: right;
    transition: 0.5s ease-in;
}