.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f44336;
  color: white;
  text-align: center;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.progressContainer {
  width: 100%;
  height: 8px;
  background-color: #ccc;
}

.progressBar {
  height: 8px;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.2s linear;
}
