.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 1px 3px #000;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.image img {
  display: block;
}

.overlay {
  width: 50%;
  z-index: 1;
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  background-color: red;
  border-radius: 50%;
  z-index: 2;
  cursor: ew-resize;
}
