.grid-light {
    height: 70vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.light {
    border: 1px solid red;
    height: 100%;
    width: 100%;
    background-color: orange;
}

.off {
    background-color: brown;
}


.on {
  background-color: blueviolet;  
}