body {
  font-family: sans-serif;
}

.app {
  margin: 40px;
}

/* Display Area */
#display-area {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin-bottom: 12px;
}

/* Swatch Container */
#color-swatches {
  display: flex;
  gap: 6px;
}

/* Swatches */
.color-box {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  cursor: pointer;
}

/* Colors */
.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.purple { background-color: purple; }
.pink { background-color: pink; }
.yellow { background-color: yellow; }
.white { background-color: white; }
