.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  float: right;
  cursor: pointer;
}
